* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: black;
}

.menu {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.menu .logo, .menu .elements, .menu .elements li {
    display: inline-block;
}

.menu .logo {
    width: 60px;
}

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.menu .elements li {
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.menu .elements li a:not(.submenu-item) {
    display: block;
    padding: 20px 0;
}

a:hover {
    color: green;
}

.menu .elements {
    display: flex;
}

.menu .elements {
    position: relative;
}

.menu .elements li .submenu {
    position: absolute;
    top: -200px;
    background-color: black;
}

.menu .elements li:hover .submenu {
    top: 60px;
    transition: 800ms;
}

.submenu-item {
    padding-top: 10px;
}

.submenu-item:last-child {
    padding-bottom: 10px;
}

.imagen {
    width: 100%;
    height: 900px;
}

.cabecera {
    position: relative;
}

.principal-text {
    color: white;
    position: absolute;
    top: 198px;
    left: 50%;
    transform: translateX(-50%);
}

h1 {
    font-weight: bold;
    text-align: center;
    font-size: 80px;
    animation-name: titulo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.parrafo1 {
    font-style: italic;
    text-align: center;
}

@keyframes titulo {
    0% {
        color: rgb(2, 70, 36);
    }
    20% {
        color: rgb(6, 141, 13);
    }
    40% {
        color: rgb(7, 181, 106);
    }
    60% {
        color: darkgreen;
    }
    80% {
        color: rgb(51, 181, 58);
    }
    80% {
        color: teal;
    }
    100% {
        color: rgb(13, 148, 139);
    }
}