* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: black;
}

.menu {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.menu .logo, .menu .elements, .menu .elements li {
    display: inline-block;
}

.menu .logo {
    width: 60px;
}

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.menu .elements li {
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.menu .elements li a:not(.submenu-item) {
    display: block;
    padding: 20px 0;
}

a:hover {
    color: green;
}

.menu .elements {
    display: flex;
}

.menu .elements {
    position: relative;
}

.menu .elements li .submenu {
    position: absolute;
    top: -200px;
    background-color: black;
}

.menu .elements li:hover .submenu {
    top: 60px;
    transition: 800ms;
}

.submenu-item {
    padding-top: 10px;
}

.submenu-item:last-child {
    padding-bottom: 10px;
}

/* FIN DEL MENU */

.imagen {
    width: 100%;
    height: 900px;
}

.cabecera {
    position: relative;
}

.principal-text {
    color: white;
    position: absolute;
    top: 198px;
    left: 50%;
    transform: translateX(-50%);
}

h1 {
    font-weight: bold;
    text-align: center;
    font-size: 80px;
    animation-name: titulo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.parrafo1 {
    font-style: italic;
    text-align: center;
}

@keyframes titulo {
    0% {
        color: rgb(2, 70, 36);
    }
    20% {
        color: rgb(6, 141, 13);
    }
    40% {
        color: rgb(7, 181, 106);
    }
    60% {
        color: darkgreen;
    }
    80% {
        color: rgb(51, 181, 58);
    }
    80% {
        color: teal;
    }
    100% {
        color: rgb(13, 148, 139);
    }
}

.fondo {
    background-color: rgba(238, 238, 238, 0.714);
}

.historia {
    text-align: center;
    padding-top: 80px;
}

.container {
    margin: 0px;
}

.parrafo2 {
    text-align: center;
    color: grey;
    width: 800px;
    margin: 40px 300px;
    margin-bottom: 0px;
    padding-bottom: 80px;
}

h2 {
    color: green;
    font-weight: lighter;
    font-size: 30px;
    text-align: center;
    /* margin: 70px 10px 0 10px; */
}

hr {
    width: 360px;
    border-color: green;
    margin-bottom: 10px;
}

.mascotas {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 20px;
}

.tortugas {
    width: 200px;
    height: auto;
    margin: 40px 80px;
    display: inline-block;
}

h4 {
    font-weight: bold;
    font-style: italic;
    color: rgb(13, 153, 118);
    font-size: 20px;
    margin: 8px;
    margin-bottom: 10px;
    text-align: center;
}

.tortugas img {
    border-radius: 100%;
    margin-bottom: 32px;
}

.tortugas .descripcion {
    text-align: center;
    font-style: italic;
    color: darkcyan;
    margin-bottom: 10px;
}

.tortugas .info {
    text-align: center;
    color: darkgreen;
    font-size: 15px;
}

.linea {
    width: 50px;
    border-color: rgb(30, 136, 148);
    margin-bottom: 20px;
}

.arriba {
    background-color: black;
    width: 100%;
    padding: 60px;
    padding-top: 65px;
}

h3 {
    text-align: center;
    color: white;
    font-size: 35px;
}

/* SECCION DE IMAGEN Y TEXTO */

.inter {
    background-color: white;
    width: 100%;
    height: 500px;
    display: block;
}

.inter1 {
    background-color: rgb(240, 236, 236);
    width: 100%;
    height: 500px;
    display: block;
}

.inter2 {
    height: auto;
    margin: 0px 300px;
    position: relative;
}

.inter2 img {
    position: absolute;
    display: inline-block;
    width: 400px;
    height: auto;
    margin: 50px 20px;
}

.parrafo3 {
    position: relative;
    display: inline-block;
    width: 400px;
    height: auto;
    margin-top: 200px;
    margin-bottom: 50px;
    margin-left: 500px;
    margin-right: 20px;
}

.parrafo4 {
    position: relative;
    display: inline-block;
    width: 400px;
    height: auto;
    margin-top: 200px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

h5 {
    color: green;
    font-size: 25px;
    font-style: italic;
}

/* FORMULARIO  */

input {
    width: 500px;
    height: 50px;
    border-bottom: green solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 20px;
    color: rgb(169, 167, 167);
}

input:hover {
    color: rgb(15, 103, 104);
}

textarea {
    margin-top: 20px;
    width: 500px;
    border: green solid 2px;
}

.boton {
    border: none;
    background-color: green;
    color: rgb(255, 255, 255);
}

.boton:hover {
    color: white;
    font-weight: bold;
    font-size: 15px;
}

/* ASIDE  */

.final {
    display: relative;
    margin-bottom: 40px;
    margin-left: 350px;
    margin-top: 20px;
}

form {
    display: inline-block;
    width: 500px;
    height: auto;
    font-size: 30px;
}

.enlace {
    color: black;
    font-style: italic;
}

.enlace:hover {
    color: green
}

aside {
    display: inline-block;
    margin: 21px 40px;
}

h6 {
    font-weight: bold;
    color: rgb(133, 208, 58);
    font-size: 20px;
}

/* .aside {
    margin-left: 100px;
} */

.aside p {
    margin-left: 5px;
}

.aside img {
    width: 20px;
}

/* FOOTER */

footer {
    width: 100%;
    background-color: black;
    height: 100px;
}

.copy {
    color: white;
    text-align: center;
    margin-top: 10px;
    width: auto;
}

.simbolos {
    margin: 0px;
    padding: 10px;
    text-align: center;
}

.icono {
    margin: 0px 10px;
}